//- layout.pug
doctype html
html
  head
    title udai academy 
    block scripts
    block style 
  body
    nav#navbar 
     ul 
        div#logo
           img(src="/static/img/logo.png")
           | UDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Service]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us] 

    block content
    footer#footer 
      | copyright &#169 2023 udaiacademy.com
      